.container.trans {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn.del {    
    color:rgb(182, 16, 16);
    border-radius: 2em;
    margin-bottom: 10px;
}
.btn.edit {    
    color:rgb(34, 36, 153);
    border-radius: 2em;
    margin-bottom: 10px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}
.f-left {
    float: left;
}

.f-right {
    float: right;
}

.bg-c-Ingreso {
    background: linear-gradient(45deg,#ddd9da,#75dfca);
}
.bg-c-Egreso {
    background: linear-gradient(45deg,#ddd9da,#d3a5acd8);
}
.float{
	position:fixed;
    font-size: 30px;    
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(57, 86, 214);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
    background-color:rgb(32, 57, 167) ;
}
